.header {
    display: flex;
    flex-direction: column; /* Stack logo and navbar vertically */
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    max-width: 150px;
  }

  .logo{
    font-weight: bolder;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #007bff;
  }
  